rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // 🔥 임시 전체 허용 (테스트용)
    match /{document=**} {
      allow read, write: if true;
    }

  }
}